lxml~=5.2.2
beautifulsoup4~=4.12.3
soupsieve~=2.5
pip~=24.1.2
certifi~=2024.7.4
urllib3~=2.2.2
idna~=3.7
requests~=2.32.3
fpdf~=1.7.2
defusedxml~=0.7.1
pillow~=10.4.0
fonttools~=4.53.1
chardet~=5.2.0
reportlab~=4.2.2